<div class="page-header">
  <h1>Welcome to The Annual Bones' Gala Auction</h1>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <h4>Vintage Hermes Mink Fur Coat <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></h4>
    <img src="http://www.theblacksannualgala.com/wp-content/gallery/gala-photos/img_0066.jpg" alt="mink coat">
      <div class="caption">
        <h5>Current Bid:</h5>
        <p>$25,000</p>
        <h5>Donated by: Mrs. Angelica Guggenheim</h5>
        <p> Beautiful 1947 Vintage Mink Hermes Fur Coat, size is Medium blah blah blah ipsum rich people love money</p>
        <a href="#" class="placebid btn btn-default" role="button"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>Place Bid</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <h4>Vintage Hermes Mink Fur Coat <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></h4>
    <img src="http://www.theblacksannualgala.com/wp-content/gallery/gala-photos/img_0066.jpg" alt="mink coat">
      <div class="caption">
        <h5>Current Bid:</h5>
        <p>$25,000</p>
        <h5>Donated by: Mrs. Angelica Guggenheim</h5>
        <p> Beautiful 1947 Vintage Mink Hermes Fur Coat, size is Medium blah blah blah ipsum rich people love money</p>
        <p><a href="#" class="placebid btn btn-default" role="button"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
Place Bid</a>
      </div>
    </div>
  </div>
</div>






<!-- <div class="row">
  <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h4>All inclusive Four Night Maldives for 2 </h4>
        <div class="thumbnail">
        <img src="..." alt="...">
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Place Bid</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div> -->
