<div class= "edhead">

<div class="page-header">
  <%= link_to items_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Auction List
  <% end %>
  <%= link_to @item, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Item information
  <% end %>
  <h1>Edit: <%= @item.name %></h1>
 </div>
</div>
<%= render 'form' %>
