.placebid {

  background-color: rgb(187, 149, 35);

  font-weight: normal;
}

.faved-heart{

  color: red;
}

.page-header{

  color:rgb(196, 145, 42);
  font-family: sans-serif;
  font-variant: small-caps;
}

.body-show {

  color: rgb(196, 145, 42);
}

.tex-media {

  color: rgb(196, 145, 42);
  font-family: sans-serif;
}

.fav-heart {
  font-size: 30px;
}

.faved-heart {
  font-size: 30px;
  color: red;
}

.custom-header {
  color: hsl(47, 90%, 82%);
}

.textline {
  margin: 5px 5px 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
