<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
<body>
  <h1>Welcome to Bidtastic!</h1>

  <h2>Final Tally Report:</h2>
  <p></p>

  <div class="datagrid">
    <table>
      <tbody>
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Descrition</th>
            <th>Bid Winner</th>
            <th>Item Price</th>
          </tr>
        </thead>


      <%- @items.each.with_index do |item, index| %>
        <tr class="<%= index.even? ? '' : 'alt' %>">
          <td><%= image_tag(item.image_url(:thumbnail)) %></td>
          <td><%= item.name %></td>
          <td><%= truncate(item.description, length: 26, seperator: ' ') %></td>
          <td>Winning User goes here</td>
          <td>Final Price Here</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</body>
</html>
